.room-schedule {
  .input-field {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .day-item {
    .year,
    .groups {
      font-size: 0.8rem;
      color: #757575;
    }

    .class-item {
      .class-info {
        border: none;

        .lecturer {
          font-size: 1em;
          color: inherit;
          display: block;
        }
      }
    }
  }
}