<div class="container">
    <div class="row group-selector">
        <div class="input-field col s6">
            <select class="browser-default"
                    ng-options="year + ' курс' for year in years"
                    ng-model="selectedYear"
                    ng-change="changeYear(selectedYear)"></select>
        </div>
        <div class="input-field col s6">
            <select class="browser-default"
                    ng-options="'Группа ' + group.title for group in groups | orderBy: 'title'"
                    ng-model="selectedGroup"
                    ng-change="getSchedule(selectedGroup)"></select>
        </div>
    </div>
    <div class="row announcements" ng-show="announcements.length">
        <div ng-repeat="announcement in announcements" class="col s12">
            <div class="announcement-item">
                <span class="body">{{announcement.body}}</span>
            </div>
        </div>
    </div>
    <div class="row schedule">
        <div ng-repeat="day in schedule" class="col s12">
            <div class="day-item">
                <span class="day-title" ng-bind="moment().day($index + 1).format('dddd')"></span>
                <div ng-repeat="class in day">
                    <div class="class-item">
                        <span ng-show="!class.title">{{$index + 1}}</span>
                        <div class="class-info" ng-show="class.title">
                            <span class="type">{{class.type}}</span>
                            <span class="title">{{class.title}}</span>
                            <span class="lecturer">{{class.lecturer.name.surname}} {{class.lecturer.name.initials}}</span>
                            <span class="room" ng-show="class.room">{{class.room.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="schedule && !schedule.length" class="row no-publish">
        <span class="col s12">Расписание еще не опубликовано.</span>
    </div>
</div>