<div class="container">
    <div class="row group-selector">
        <div class="input-field col s6">
            <select class="browser-default"
                    ng-options="year + ' курс' for year in years"
                    ng-model="selectedYear"
                    ng-change="changeYear(selectedYear)"></select>
        </div>
        <div class="input-field col s6">
            <select class="browser-default"
                    ng-options="'Группа ' + group.title for group in groups | orderBy: 'title'"
                    ng-model="selectedGroup"
                    ng-change="getSchedule(selectedGroup)"></select>
        </div>
    </div>
    <div class="row schedule">
        <div ng-repeat="day in schedule" class="col s12">
            <div class="day-item">
                <span class="day.title">{{moment().day($index + 1).format('dddd')}}</span>
                <div ng-repeat="class in day">
                    <div class="class-item">
                        <span ng-show="!class.title">{{$index + 1}}</span>
                        <span ng-show="class.title">{{class.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>