<div class="container room-schedule">
    <div class="row">
        <div class="input-field col s10">
            <select class="browser-default"
                    ng-options="room._id as room.title for room in rooms"
                    ng-model="roomId"
                    ng-change="changeRoom(roomId)"></select>
        </div>
    </div>
    <div class="row schedule">
        <div ng-repeat="day in schedule" class="col s12">
            <div class="day-item">
                <span class="day-title" ng-bind="moment().day($index + 1).format('dddd')"></span>

                <div ng-repeat="class in day">
                    <div class="class-item">
                        <span ng-show="!class.length" class="placeholder">{{$index + 1}}</span>
                        <div ng-show="class.length" class="class-info">
                            <span class="type">{{class[0].type}}</span>
                            <span class="title">{{class[0].title}}</span>
                            <span class="lecturer">{{class[0].lecturer.name.surname}} {{class[0].lecturer.name.initials}}</span>
                            <span class="year">Курс: {{class[0].group.year}}</span>
                            <span class="groups">Группы:
                                <span ng-repeat="dupe in class">
                                    {{dupe.group.title}}<span ng-show="!$last">,</span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 navigation-buttons">
            <a class="waves-effect waves-light btn" ui-sref="main.home">Расписание групп</a>
            <a class="waves-effect waves-light btn" ui-sref="main.staff_schedule">Расписание преподвателей</a>
        </div>
    </div>
</div>
