<div class="container staff-schedule">
    <div class="row">
        <div class="input-field col s10">
            <select class="browser-default"
                    ng-options="lecturer._id as lecturer.name.surname + ' ' + lecturer.name.initials for lecturer in staff"
                    ng-model="lecturerId"
                    ng-change="changeLecturer(lecturerId)"></select>
        </div>
    </div>
    <div class="row schedule">
        <div ng-repeat="day in schedule" class="col s12">
            <div class="day-item">
                <span class="day-title" ng-bind="moment().day($index + 1).format('dddd')"></span>

                <div ng-repeat="class in day">
                    <div class="class-item">
                        <span ng-show="!class.length" class="placeholder">{{$index + 1}}</span>
                        <div class="class-info" ng-show="class[0].title">
                            <span class="type">{{class[0].type}}</span>
                            <span class="title">{{class[0].title}}</span>
                            <span class="year">Курс: {{class[0].group.year}}</span>
                            <span class="groups">Группы:
                                <span ng-repeat="dupe in class">
                                    {{dupe.group.title}}<span ng-show="!$last">,</span>
                                </span>
                            </span>
                            <span class="room" ng-show="class[0].room">{{class[0].room.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 navigation-buttons">
            <a class="waves-effect waves-light btn" ui-sref="main.home">Расписание групп</a>
            <a class="waves-effect waves-light btn" ui-sref="main.room_schedule">Занятость аудиторий</a>
        </div>
    </div>
</div>
